.projectree-wall{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: #01080F;
   display: flex;
   flex-direction: column;
   gap: 3rem;
   padding-bottom: 180rem;
   
}

.projectree-top{
   display: flex;
   justify-content: center;
   align-items: center;
gap: 1rem;
}

.arrowt{
   font-size: 1.5rem;
}
.projectree-top button{
   display: flex;
   justify-content: center;
   align-items: center;
background-color: #067EF6;
width: 3rem;
height: 2.8rem;
border-radius: 1rem;
transition: .3s ease-in-out;
cursor: pointer;
margin-right: 1rem;
color: white;
transition: .3s ease-in-out;
}

.projectree-top button:hover{
   transform: scale(1.1);
}


.projectree-top p{
   font-size: 1.25rem;
}
.projectree-top p span{
   color: grey;
}
.top-btn{
   display: flex;
   margin-left: 12rem;
}
.top-btn button{
   background-color: #067EF6;
   color: white;
  border-radius: 2rem;
   height: 3rem;
   width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
   gap: 0.5rem;
   cursor: pointer;
   transition: .3s ease-in-out;
}

.top-btn button:hover{
   transform: scale(1.1);
}

.terraboxz-wall{
display: flex;
justify-content: center;
align-items: center;
}

.terrabox{
   width: 52rem;
   height: 20rem;
   border-radius: 2rem;
   background: #D2D2D5;

}

/* Invincible box put the green box in the middle */
.giantbox{
   display: flex;
   justify-content: center;
  }

  /* The green box  */
.giantbox-wall{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   gap: 3rem;
   background-color: black;
   width: 58rem;
   overflow: hidden;
   line-height: 1.4rem;
}

/* The container of the two lines */
.line{
   display: flex;
   flex-direction: column;
}

/* The lines themselves */
.line hr{ border: none;
   border-left: 0.1px solid grey; /* Thickness and color of the vertical line */
   height: 60px; /* Height of the vertical line */
   margin: 20px; /* Margin to position the line */

}
.line2{
   position: relative;
   
}
.line2 hr{ border: none;
   position: absolute;
   right: -30rem;
   top:-1.3rem ;
   border-top: 0.1px solid grey; 
    width: 100rem; 
    margin: 20px;
}

/* The container for each data words */
.giantbox-one{
   display: flex;
   flex-direction: column;
   gap: 3.8rem;
}

/* The data words heading */
.giantbox-one h3{
   color: #067EF6;
}

/* the rest */

.topic-box{
   display: flex;
   justify-content: center;
margin-top: -3rem;
}
.topic-wall{
   display: flex;
justify-content: center;
background-color: black;
width: 58rem;
overflow: hidden;
flex-direction: column;
border-top: 1px solid  grey;
padding-top: 3rem;
padding-left: 5rem;
padding-right: 1rem;
padding-bottom: 2rem;
line-height: 1.4rem;
}
.topic-wall h3{
 color: #067EF6;
}
.topic-wall p{
   display: flex;
   flex-direction: column;
   font-size: 0.9rem;
}

.projectree-box{
  display: flex;
  justify-content: center;
margin-top: -3rem;
}

.slider-x{
   background-color: black;
   padding-left: 0.8rem;
   padding-right: 0.8rem;
   width: 58rem;
   padding-top: 1rem;
   padding-bottom: 3rem;
overflow: hidden;
}
.slick-prev{
   margin-left: 4rem;
   background-color: #525354 !important;
   height: 2rem;
   width: 2rem;
    border-radius: 2rem;
    z-index: 99;
  color: white;
 }

.slick-next {
   margin-right: 4rem;
   background-color: #525354 !important;
   height: 2rem;
   width: 2rem;
    border-radius: 2rem;
    transition: .3s ease-in-out;
}




.projectree-boxy1{
   background: #D2D2D5;

   height: 16rem;
   border-radius: 2rem;
}

.slick-slide div{
    margin: 0 0.3rem;
 
}      
.boxy-heading{
   display: flex;
   justify-content: center;
margin-top: -3rem;
}
 .boxy-heading h3{
   background-color: black;
   width: 58rem;
   padding-top: 3rem;
   color: #067EF6;
   padding-left: 5rem;
   border-top: 1px solid  grey;

 }

 .ring-start{
   display: flex;
   justify-content: center;
   margin-top: -3rem;
 }

 .ring-wall{
   display: flex;
justify-content: center;
overflow: hidden;
background-color: black;
width: 58rem;
flex-direction: column;
padding-left: 4.5rem;
padding-bottom: 4rem;
border-bottom-left-radius: 1rem; 
border-bottom-right-radius: 1rem;
 }
 .line3{
   position: relative;
   
}
.line3 hr{ border: none;
   position: absolute;
   right: -30rem;
   top:1.3rem ;
   border-top: 0.1px solid grey; 
    width: 100rem; 
    margin: 20px;
}

 .ring-box{
   background-color: #D2D2D5;
   height: 15rem;
   width: 21rem;
   border-radius: 2rem;
 }


 

/*Media Query*/
@media screen and (max-width: 1200px) {
.giantbox-wall{
   gap: 1rem;
}
.topic-wall{
  padding-left: 1.6rem;
}
.terrabox{
   width: 30rem;
}

.boxy-heading h3{
   padding-left: 1.6rem;
}
.ring-wall{
   
padding-left: 1.8rem;

 }
}

@media screen and (max-width: 700px) {
   .boxy-heading h3{
      font-size: 1rem;
   }
   .projectree-boxy1{
      height: 10rem;

   }
   .projectree-top{
flex-direction: column;
   }
   .projectree-top p{
      text-align: center;
   }
   .giantbox-wall{
 line-height: normal;
   }
   .top-btn{
      margin-left: 0rem;
   }

.slick-prev, .slick-next{
   top: 38%;
}

.giantbox-one{
   padding: 1rem;
   line-height: 0.9rem;
}
   .giantbox-one div h3{
      font-size: 0.7rem;
      white-space: nowrap;
   }

   .giantbox-one div p{
      font-size: 0.6rem;
    }
   .topic-wall{
      padding-left: 1rem;
      line-height: 1.1rem;

   }
   .topic-wall h3{
      font-size: 0.7rem;
      white-space: nowrap;
   }
   .topic-wall p{
      font-size: 0.6rem;

  
   }
   
.terrabox{
   width: 20rem;
   height: 15rem;
}
.terraboxz-wall{
   padding-top: 1rem;
display: flex;
justify-content: center;
align-items: center;
}
.line hr{ 
   height: 73px; 

}
.erroz{
 
   gap: 6rem;
}
.ring-wall{
   padding-left: 1rem;
}
.ring-box{
  
   height: 10rem;
   width: 14rem;
   }
.projectree-wall{
   padding-bottom: 163rem;
}

   }

   @media screen and (max-width: 360px) {
      .erroz{
 
         gap: 7rem;
      }
      .ring-box{
  
         height: 10rem;
         width: 13rem;
         }
      
.projectree-wall{
   padding-bottom: 172rem;
}
   }
   

  
  