.five-start{
    background-color: #01080F;
    display: flex;
    flex-direction: column;
gap: 5rem; 
}

.five-wall{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
gap: 11rem;
}


.five-wall h1{
    line-height: 2.5rem;
    padding-left: 4.2rem;
    font-size: clamp(1.3rem, 4vw, 2rem);
    white-space: nowrap;
      font-family: 'Monda-Regular', sans-serif;
}


.five-wall h1 span{
    color: #067EF6;
    margin-right: 0.3rem;
   
}


.five-content p{
    text-align: center;
}

.five-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   gap: 2rem;
}

.five-box1, .five-box2{
    position: relative;
    height: 17rem;
    width: 35.4rem;
    border-radius: 2.5rem;
    background: #6670854D;
}

.five-img1, .five-img2{
    position: absolute;
    top: -13px;
    right:  -15px;
    bottom: 0;
    
}

.five-img1 img, .five-img2 img{
    height: 4.5rem;
}

.five-box1 p, .five-box2 p{
display: flex;
flex-wrap: wrap;
font-size: 1rem;
padding: 3rem 2rem 1.4rem 2rem;
}
.comment-content{
    padding-left: 3rem;
display: flex;
align-items: center;
flex-direction: row;
gap: 0.5rem;
}


.head-icon{
    background-color: white;
    width: 4rem;
    height: 4rem;
    font-size: clamp(0.1rem, 1.7vw, 2rem);
    border-radius: 3rem;
display: flex;
justify-content: center;
align-items: center;
    color: 
    #067EF6;
}


@media (max-width: 1300px) {
.five-wall{
    gap: 7rem;
}

.five-box1 p, .five-box2 p{
   
    font-size: 0.8rem;
    
    }
    .head-icon{
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
    }
.comment-content{
    font-size: 0.9rem;
}  

.five-img1 img, .five-img2 img{
    height: clamp(3rem, 1.7vw, 4rem);
}
}

@media (max-width:700px) {
.five-wall{
    flex-direction: column;
    gap: 2rem;
}
.five-wall h1{
    text-align: center;
  
   line-height: 2rem;
   padding-left: 0rem;
}

.comment-content{
    font-size: 0.5rem;

padding-left: 2rem;
}  

.head-icon{
    width: clamp(0.9rem, 1.7vw, 2rem);
    height: clamp(0.9rem, 1.7vw, 2rem);
    font-size: clamp(0.5rem, 1.7vw, 1rem);
}

.five-box1, .five-box2{
     height: 12rem;
     padding-bottom: 13rem;
     
   }

   .five-box1 p, .five-box2 p{
   
    font-size: clamp(0.1rem, 2vw, 0.4rem);
    
    }

   .comment-topic{
    font-size: 0.3rem;
   }
   .five-img1, .five-img2{
    position: absolute;
    top: -13px;
    right:  -3px;
    bottom: 0;
    
}
.five-box{
    gap: 0.9rem;
}
.break{
    display: none;
}

}



