  
  /* Start of Home Three */
  
  .home-three-section{
   background-color: #01080F;
   display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  
  .home-three-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30rem;
  }
  
  .home-three{
  display: flex;
  flex-direction: column;
  line-height: 1;
  }
  
  .home-three p{
    font-size: clamp(1rem, 4vw, 2rem);
    font-family: 'Monda-Regular', sans-serif;

  }
  
  .three-topic{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
  }
  
  .three-topic hr{
    border: 1px solid grey; /* Change the color and width of the line */
      width:  clamp(4rem, 9vw, 6rem); /* Adjust the width */
      margin: 32px 0; /* Add some margin above and below the line */
  
  }
  
  .three-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }
  
  .getbtn{
    border-radius: 3rem;
    height: 3rem;
    width: 9rem;
    color: white;
    background: #067EF6;
    cursor: pointer;
    transition: .3s ease-in-out;
  }
  
  .getbtn:hover{
    transform: scale(1.1);
  }
  
  .vbtn{
    border-radius: 3rem;
    height: 3rem;
    width: 8.6rem;
    color: white;
  border: 1px solid;
  cursor: pointer;
    background: black;
    transition: .3s ease-in-out;
  }
  
  .vbtn:hover{
    transform: scale(1.1);
  }
  
  /* End of Home Three */
  
  /* Start of Vine */
  
  
  
  .vine{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  
  
  .web, .mobile, .ecommerce, .crm, .logistics, .edtech {
    display: flex;
    height: 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid grey;
    width: 70rem;
    padding: 0 1rem;
    font-size: 1.4rem;
   
  }
  
  .web svg, .mobile svg, .ecommerce svg, .crm svg, .logistics svg, .edtech svg {
    font-size: 1.5rem;
  }
  
  /* End of Vine */
  
  /* Media Queries */
  
  @media (max-width: 1200px) {
    .web, .mobile, .ecommerce, .crm, .logistics, .edtech {
      width: 40rem;
    }

    
    .home-three-container{
    
      gap: 2.5rem;
    }
  
  }
  
  @media (max-width: 700px) {
    .web, .mobile, .ecommerce, .crm, .logistics, .edtech {
      width: 20rem;
      font-size: 0.8rem;
    }
   .web svg, .mobile svg, .ecommerce svg, .crm svg, .logistics svg, .edtech svg {
    font-size: 1.3rem;
   }
    .home-three-container{
      gap: 1rem;
    }
   
  .three-btn{
    flex-direction: column;
  }
  
    .vbtn, .getbtn{
        width: 6rem;
        height: 3rem;
        font-size: 0.8rem;
    }
    hr{
      margin: 24px 0;
    }
  }

.home-three-section section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
